.game-page{
    /* height: 100vh; */
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.game-box{
    width: 500px;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    background-color: #ffff;
}
.none{
    width: inherit;
    height: 30px;
}
.game-result{
    width: inherit;
    height: 30px;
}