.game-page{
    display: flex;
}
.game-box{
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('./야구장\ 배경2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
/* .none{
    width: inherit;
    height: 30px;
} */
/* .game-result{
    width: inherit;
    height: 30px;
} */
