body{
  width: 100vw;
  height: 100vh;

}
.show-main{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 180px;
  height: 100px;
  border: none;
  border-radius: 25px;
}
.show-game{
  display: none;
}
